
<div class="wrapper">
  <div class="alert alert-danger alert-dismissible error_" *ngIf="errorOccurred">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> {{errorMessage}}
  </div>
  <div class="wrapper-flex">

    <div class="_landing ">
      <div class="img_wrapper">
        <img src="/assets/img/people.png" alt="">
      </div>
      <div class="text_wrapper">
        <h3>
          Create your next fundraising campaign
        </h3>
      </div>
    </div>

    <div class="registration_">
      <ul class="nav_links">
        <li>About</li>
        <li>Contact</li>
      </ul>
      <div class="form_wrapper">
        <div class="landingLogo">
          <img src="assets/img/logo.png" class="img-fluid" alt="">
        </div>
        <form action="" class="form" [formGroup]="registrationForm">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John" formControlName="firstName" >
              <span *ngIf="firstName.dirty && firstName.invalid" class="error_message">Please input your First-Name</span>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" class="form-control" placeholder="Doe" formControlName="lastName" >
              <span *ngIf="lastName.dirty && lastName.invalid" class="error_message">Please input your Last-Name</span>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <div class="u_grid">
                <input type="email" id="email" class="form-control" placeholder="example@example.com" formControlName="email" >
                <img src="assets/img/spinner.svg" alt="loader" *ngIf="customEmailValidator.showLoader">
              </div>
              <span *ngIf="email.dirty && email.value === ''" class="error_message">Please input your Email address</span>
              <span *ngIf="email.dirty && email.hasError('pattern')" class="error_message">Invalid email format</span>
              <span class="error_message" *ngIf="email.hasError('existingEmail')">
                Email already exists.
              </span>

            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password" >
              <span *ngIf="password.dirty && password.value == ''" class="error_message">Please input your Password</span>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm-Password</label>
              <input type="password" id="confirmPassword" class="form-control" placeholder="confirm-Password" formControlName="confirmPassword" >
              <span *ngIf="confirmPassword.dirty && confirmPassword.value == ''" class="error_message">Please re-enter your password</span>
              <span *ngIf="confirmPassword.dirty && confirmPassword.hasError('MatchPassword')" class="error_message">Your password doesnt match</span>
            </div>

              <div class="submit_button">
                <button data-toggle="modal" data-target="#promptUser" class="btn" [class.formValid]="!registrationForm.invalid" [disabled]="registrationForm.invalid" >
                  <span *ngIf="!showLoader">Create Account</span>
                  <span class="loader" data-text="Loading..." *ngIf="showLoader">Loading...</span>
                </button>
              </div>

        </form>
      </div>
    </div>

  </div>

</div>
<a href="#userRegistered" #showSuccessMessage data-toggle="modal"></a>
<app-user-comfirmation (sendReponse)="userConfirmed($event)" ></app-user-comfirmation>
<app-success-modal></app-success-modal>

