.wrapper-flex{
  display: flex;
  flex-direction: column;;
  height: 100vh;
}
ul{
  display: none;
}
.img_wrapper{
  text-align: center;
  img{
    width: 100%;
  }
}
.text_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  h3{
    font-size: 2rem;
    max-width: calc(100% - 14%);
    color: #292b63;
    font-weight: bold;
  }
}
@media (min-width: 1024px){
  .wrapper-flex{
    flex-direction: row;
  }
  ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 4%;
    li{
      color: #262861;
      margin-right: 2rem;
      font-weight: bold;
    }
  }
  .img_wrapper{
    img{
      width: calc(100% - 28%);
    }
  }
  .text_wrapper{
    margin-top: 1%;
    h3{
      font-size: 3.2rem;
      max-width: calc(100% - 35%);
      color: #292b63;
      font-weight: bold;
    }
  }
  .form-group{
    width: 80%;
  }
}

@media(max-width: 768px) {
  ._landing {
    padding-bottom: 20%;
    padding-top: 10%;
  }
  .submit_button{
    display: flex;
    justify-content: center;

  }
}


._landing {
  background: rgb(128, 128, 128, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  height: initial;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 0.8;
}

.registration_{
  flex: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_wrapper{
  width: 100%;
  padding: 4rem;
  .landingLogo{
    img{
      width: 13rem;
    }
  }

}

form{
  margin-top: 3rem;

  .grid_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    gap: 2rem;
  }
  .form-group{
    margin-bottom: 1.2rem;
  }
  label{
    font-size: 14px;
    display: inline-block;
    color: #959595;
    letter-spacing: .1rem;
    margin-bottom: 0;
    padding-bottom: 7.5px;
    cursor: pointer;
  }
  .form-control{
    padding: 5px 18px;
    font-size: 13px;
    line-height: normal;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    outline: 0;
    min-height: 40px;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #555;
    text-indent: .01px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0 0,transparent;
    vertical-align: middle;
  }
}
.submit_button{
  .btn{
    border-radius: 25px;
    padding: 12px 33px;
    font-size: 14px;
    font-weight: 600;
    background-color: gray;
    color: #fff;
    fill: #e5e5e5;
    text-transform: uppercase;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
  }
}
.formValid{
  background-color: #4d2db6 !important;
}
.error_message{
  font-size: 13px;
  color: red;
  display: block;
  padding-top: 4px;
}

.error_{
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
}

// Loader

@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma&display=swap');

.loader{
	color: rgba(0, 0, 0, .2);
	position: relative;
}

.loader::before{
	content: attr(data-text);
	width: 100%;
	color: #fff;

	position: absolute;
	top: 0;
	left: 0;

	animation: loader 5s ease-in-out infinite both;
}

@keyframes loader{
	0%, 10%, 90%, 100%{
		clip-path: circle(0 at 50% 50%);
	}

	40%, 60%{
		clip-path: circle(50vmax at 50% 50%);
	}
}

.loader{
	font-family: 'Baloo Tamma', sans-serif;

	letter-spacing: .25rem;
	text-transform: uppercase;

	margin: auto;
}
.u_grid{
  display: block;
  position: relative;
  input{
    padding-right: 2.5rem;
  }
  img{
    width: 37px;
    position: absolute;
    top: 1px;
    z-index: 9;
    right: 5px;
  }
}
